<div class="container-fluid" id="page">
    <div class="row">
        <div class="col-md-12" style="width: 80%; margin-right: 15%; margin-left: 15%">
            <div class="col-md-8">
                <div class="row">
                    <div class="panel panel-default col-md-12" style="padding: 15px">
                        <div class="col-md-12 text-center">
                            <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="panel" align="center">
                                    <div class="crop">
                                        <img class=" " width="100%" height="20%"
                                             ng-src="{{dati.user.img_produttore}}" alt=" " ng-if="dati.user.img_produttore.includes('https://firebasestorage.googleapis.com')">
                                    </div>
                                </div>

                                <h1><strong>{{dati.user.nomeProduttore}}</strong></h1>
                                 <p style="font-size:20px; font-weight:lighter">{{dati.user.citta}} · {{dati.user.descrizione}}</p><hr>
                            </div>
                            </div>
                            <div class="col-md-4 text-right">
                                <p style="float: left;font-size: 13px; font-weight: lighter; margin: 5px" > Attività di <a style="color: green" href="#!/otherUserProfile/{{dati.userId}}">{{dati.user.name}} {{dati.user.surname}}</a></p>
                            </div>
                            <div class="col-md-4 left">
                                <img style="margin-top: 5px" align="center" class="img-circle" width="50" height="50"
                                     ng-src="{{dati.user.img_url}}" alt="{{dati.user.img_alt}}" ng-if="dati.user.img_url.includes('https://firebasestorage.googleapis.com')">
                                </div>
                            <div class="col-md-4 right">
                                <a style="margin-right:10px;font-size: 13px; font-weight: lighter;"
                                        data-toggle="modal" data-target="#modalProdotto">Aggiungi Prodotto</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--PRODOTTI-->
                <div class="col-md-10">
                    <ul class="media-list">
                        <!--METTERE NG-IF-->
                        <li ng-repeat="prodotto in dati.products" ng-if="dati.userId == prodotto.autoreId">
                            <div class="col-md-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <!--<a data-toggle="modal" data-target="#modalInfo">{{prodotto.nomeProdotto}}</a>-->
                                        <span class="coloreTestoVerde">{{prodotto.nomeProdotto}}</span>
                                        <span style="float: right">{{prodotto.prezzo}} Euro/kg</span>
                                    </div>
                                    <div class="panel-body">
                                        <img style="width:100%" width="70%" alt="Image"
                                             ng-src="{{prodotto.img_url}}" alt="immagine" ng-if="prodotto.img_url.includes('https://firebasestorage.googleapis.com')">
                                    </div>
                                    <div class="panel-footer" style="height: 50px">
                                        <p>{{prodotto.descrizione}}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
         <!--VISUALIZZAZIONE MESSAGGI-->
        <div class="col-md-4">
          <div class="panel panel-default" align="center">
            <button style="margin: 10px" type="button" class="btn btn-default" data-toggle="collapse" data-target="#demo">Messaggi</button>
              <div id="demo" class="collapse">
                <div class="panel-body">
                  <li class="media-list" ng-repeat="messaggios in dati.messaggi | orderBy: 'date' :true "  style="list-style: none" ng-if="dati.userId == messaggios.destinatarioId">
                     <div class="panel panel-default">
                         <div class="panel-body">
                            <div class="media-left">
                                <img class="img-circle" ng-src="{{messaggios.img_url}}" height="60px" width="60px">
                            </div>
                            <div class="media-body">
                                <p><span style="color: green"><b>{{messaggios.nome}} {{messaggios.cognome}}: </b></span> {{messaggios.testo}}</p>
                                <p class="data-ora" style="float: right">{{messaggios.dataStampa}} {{messaggios.oraStampa}}</p>
                            </div>
                         </div>
                     </div>
                  </li>
                </div>
              </div>
          </div>
        </div>
</div>


    <!--MODAL INSERISCI PRODOTTO-->
    <div ng-controller="paginaProduttoreCtrl as $ctrl">
        <div class="modal fade" id="modalProdotto" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3>Insersci il tuo prodotto</h3>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="addProdotto()">
                            <div class="form-group">
                                <label for="title">Nome Prodotto</label>
                                <input type="text" class="form-control" id="title"
                                       ng-model="dati.nomeProdotto">
                                <textarea class="form-control" rows="6" id="comment2" placeholder="Descrizione..."
                                          ng-model="dati.descrizione"></textarea>
                                <label for="cat">Categoria </label>
                                <select class="form-control" id="cat" style="max-width: 300px" ng-model="dati.categoria">
                                    <option>Pasta e Pane</option>
                                    <option>Frutta e Verdura</option>
                                    <option>Legumi e Semi</option>
                                    <option>Conserve</option>
                                    <option>Vino e Bevande</option>
                                    <option>Latte e Formaggi</option>
                                    <option>Carne</option>
                                    <option>Olio</option>
                                    <option>Aromi</option>
                                </select>
                            </div>

                            <span>Immagine descrittiva</span>
                            <file-upload on-change="$ctrl.onChange">
                            </file-upload>

                            <input type="text" class="form-control"  placeholder="00,00 Euro/kg" ng-model="dati.prezzo">

                            <button href="#home" style="float: right" type="submit" class="btn btn-default">Pubblica</button><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</div>