<div class="container-fluid" id="page">
    <div class="row">
        <div class="col-md-12" style="width: 70%; margin-right: 15%; margin-left: 15%">
            <!--RIVEDERE LO STILE- SPOSTARLO IN APP.CSS -->
            <div class="panel panel-default text-center" style="padding-bottom: 15px">
                <h3>I prodotti di {{dati.user.nomeProduttore}}</h3><br>
                <img class="img-circle" width="150" height="150"
                     ng-src="{{dati.user.img_url}}" alt="{{dati.user.img_alt}}" ng-if="dati.user.img_url.includes('https://firebasestorage.googleapis.com')">
            </div>
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h5>Informazioni</h5><hr>
                        <p><span style="color:green">Città</span><br>{{dati.user.citta}} </p><br>
                        <p><span style="color:green">Descrizione dell'attività </span><br>{{dati.user.descrizione}} </p><hr>
                        <button class="btn btn-success" data-toggle="modal" data-target="#modalProdotto">Aggiungi Prodotto</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <!--PRODOTTI-->
                <ul class="media-list">
                    <!--METTERE NG-IF-->
                    <li ng-repeat="prodotto in dati.products" ng-if="dati.userId == prodotto.autoreId">

                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">{{prodotto.nomeProdotto}}</div>
                                <div class="panel-body">
                                    <img style="width:100%" height="70%" alt="Image"
                                         ng-src="{{prodotto.img_url}}" alt="immagine" ng-if="prodotto.img_url.includes('https://firebasestorage.googleapis.com')">
                                </div>
                                <div class="panel-footer" style="height: 100px">
                                    <p>{{prodotto.descrizione}}</p>
                                    <p>{{prodotto.prezzo}}</p>
                                    <!--METTERE DATA-->
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <!--<ul>-->

                    <!--<li ng-repeat="prodotto in products | orderBy: '-date' :true">-->

                            <!--<div class="panel panel-default">-->
                                <!--<div class="panel panel-body">-->
                                    <!--<img class="media-object" img ng-src="{{post.img_url}}" alt="{{post.img_alt}}"-->
                                         <!--ng-if="post.img_url.includes('https://firebasestorage.googleapis.com')">-->
                                <!--</div>-->
                                <!--<div class="panel-footer">-->
                                    <!--<h5 style="color: green">{{prodotto.nomeProdotto}}</h5>-->
                                    <!--<p>{{prodotto.descrizione}}</p>-->
                                    <!--<p>Prezzo: {{prodotto.prezzo}}</p>-->
                                    <!--<p class="data-ora" style="float: right;"> {{post.dataStampa}} {{post.oraStampa}}</p>-->
                                <!--</div>-->

                            <!--</div>-->
                    <!--</li>-->

                <!--</ul>-->
            </div>
        </div>
    </div>

    <!--MODAL INSERISCI PRODOTTO-->
    <div ng-controller="paginaProduttoreCtrl as $ctrl">
        <div class="modal fade" id="modalProdotto" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Insersci il tuo prodotto</h3>
                    <div class="modal-body">
                        <form ng-submit="addProdotto()">
                            <div class="form-group">
                                <label for="title">Nome Prodotto</label>
                                <input type="text" class="form-control" id="title"
                                       ng-model="dati.nomeProdotto" />
                                <textarea class="form-control" rows="6" id="comment2" placeholder="Descrizione..."
                                          ng-model="dati.descrizione"></textarea>
                            </div>

                            <span>Immagine descrittiva</span>
                            <file-upload on-change="$ctrl.onChange">
                            </file-upload>

                            <input type="text" class="form-control"  placeholder="00,00 Euro" ng-model="dati.prezzo">

                            <button href="#home" style="float: right" type="submit" class="btn btn-default">Pubblica</button>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>


