<div class="container" id="page">
  <div class="row">
    <!--SPAZIO UTENTE-->
    <div class="col-sm-3 ">
      <div class="panel panel-defeault text-left">
        <div class="panel-body">
          <img class="img-circle" width="200" height="200"
               ng-src="{{dati.user.img_url}}" alt="{{dati.user.img_alt}}" ng-if="dati.user.img_url.includes('https://firebasestorage.googleapis.com')">

            <!--<div class="media-left">
                <img class="media-object" ng-src="../{{pizza.img_url}}" alt="{{pizza.img_alt}}" ng-if="!(pizza.img_url.includes('https://firebasestorage.googleapis.com')) && pizza.img_url!=''">
                <img class="media-object" ng-src="{{pizza.img_url}}" alt="{{pizza.img_alt}}" ng-if="pizza.img_url.includes('https://firebasestorage.googleapis.com')">
                <img class="media-object" ng-src="../images/notAvailable.png" alt="{{pizza.img_alt}}" ng-if="pizza.img_url == ''">
            </div>-->

        </div>
      </div>

      <div>
        <button type="button" class="btn btn-default"
                data-toggle="modal" data-target="#modalAddImmagine">Aggiorna immagine profilo</button>
      </div>


      <div class="panel-body">
        <!--BOTTONI PRODUTTORE-->
        <!--VEDI BOTTONE "SEGUI"-->

        <!--<button id="button2" ng-if="dati.user.tipo== null" ng-click="becomeProduttore()" class="btn btn-success">Diventa Produttore</button>-->
        <button id="button2"  ng-if="dati.user.tipo == ''" data-toggle="modal" data-target="#modalProduttore" class="btn btn-success">Diventa Produttore</button>
        <button id="button1" ng-if="dati.user.tipo == 'produttore'" class="btn btn-default"><a href="#!/paginaProduttore">Vai alla tua pagina Produttore</a></button>

        <!--<div id="followersDiv">-->
          <!--<h4>Followers</h4>-->
          <!--<div ng-repeat="follow in dati.follows" ng-if ="dati.user.userId == follow.followed" >-->
            <!--<em>{{follow.follower.name}}</em>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div id="followingDiv">-->
          <!--<h4>Following</h4>-->
          <!--<div ng-repeat="follow in dati.follows" ng-if="dati.user.userId==follow.follower.userId">-->
            <!--<em>{{follow.followedName}}</em>-->
          <!--</div>-->
        <!--</div>-->

      </div>
      <div class ="container">
        <p><a href="#">Interests</a></p>
      <button type="button3" class="btn btn-default"
              data-toggle="modal" data-target="#modalUpdateInfo">Modifica</button>
      <p>Nata il {{dati.user.dataNascita}}</p>
      <p>Vive a {{dati.user.cittaVive}}</p>
      <p>Parlo di me {{dati.user.descPersonale}}</p></div>
    </div>

    <!--SPAZIO POST-->
    <div class="col-sm-8">

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body" >
              <h1>{{dati.user.name}} {{dati.user.surname}}</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <ul class="media-list">
            <li class="media" ng-repeat="post in dati.posts| orderBy: '-date' :true" ng-if="  dati.userId == post.autoreId">
                <div class="media-left">
                  <div class="media-left">
                    <!--QUI METTEREI L'IMMAGINE DEL PROFILO-->
                    <img class="img-circle" alt="immagine" width="50" height="50"
                         ng-src="{{post.autore_img}}" alt="{{post.autore_img}}" ng-if="post.autore_img.includes('https://firebasestorage.googleapis.com')">
                  </div>
                </div>
                <div class="media-body">
                  <h4><strong>{{post.name}} {{post.surname}}</strong> ha pubblicato:</h4>
                  <p class="data-ora">{{post.dataStampa}} {{post.oraStampa}} </p>

                  <a ng-if="post.tag == 'ricetta'" href="#!/detailsRicetta/{{post.id}}" style="color: darkgreen">
                    <h4 class="media-heading"><strong>{{post.titolo}}</strong></h4></a>
                  <a ng-if="post.tag == 'tutorial'" href="#!/detailsTutorial/{{post.id}}" style="color: darkgreen">
                    <h4 class="media-heading"><strong>{{post.titolo}}</strong></h4></a>

                    <img class="media-object" ng-src="{{post.img_url}}" ng-alt="{{post.img_alt}}" width="70%">
                  <a href=""><h4 class="media-heading"><strong>{{post.nome_post}}</strong></h4></a>
                    <p>{{post.descrizione}}</p>
                </div>
                <hr/>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--MODAL PRODUTTORE-->
  <div class="modal fade" id="modalProduttore" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Diventa Produttore!</h4>
        </div>
        <div class="modal-body">
          <p>Vuoi diventare produttore? Compila questo form per mostrare le informazioni che desideri!</p>
          <form id="frmProduttore" role="form" ng-submit="updateInfoProduttore()">

            <div class="form-group">
              <label for="txtNome">Nome</label>
              <input class="form-control" id="txtNome" placeholder="Inserisci il nome con cui vuoi essere visualizzato da Produttore" ng-model="dati.nomeProduttore" />
            </div>
            <div class="form-group">
              <label for="txtCitta">Città</label>
              <input class="form-control" id="txtCitta" placeholder="Città" ng-model="dati.citta" />
            </div>
            <div class="form-group">
              <label for="txtPres">Descrizione</label>
              <input class="form-control" id="txtPres" placeholder="Fai una breve descrizione della tua attività" name="password" ng-model="dati.descrizione" />
            </div>
            <button href="#!/paginaProduttore" class="btn btn-success" type="submit" ng-click="becomeProduttore()">Diventa Produttore</button>
          </form>
          <button class="btn btn-default" data-dismiss="modal">Close</button>
        </div>


      </div>
    </div>
  </div>


  <!--MODAL ADD IMMGINE-->
  <div ng-controller="userProfileCtrl as $ctrl">
    <div class="modal fade" id="modalAddImmagine" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Aggiorna la tua immagine profilo! </h4>
          </div>
          <form id="frmAddImg" role="form" ng-submit="addImage()">

            <file-upload on-change="$ctrl.onChange"> </file-upload>

            <button class="btn btn-success" type="submit">Add</button>
            <button class="btn btn-default" data-dismiss="modal">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--MODIFICA INFO PERSONALI-->
  <div ng-controller="userProfileCtrl as $ctrl">
    <div class="modal fade" id="modalUpdateInfo" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Aggiorna le tue informazioni personali </h4>
          </div>
          <div class="modal-body">
            <form id="frmUpdateInfo" role="form" ng-submit="updateInfoUser()">
              <div class="form-group">
                <label for="txtNome">Data di nascita</label>
                <input ng-if="dati.descPersonale ==''" class="form-control" id="txtDataNascita" placeholder="gg/mm/aaaa" ng-model="dati.dataNascita" />
                <input ng-if="dati.descPersonale !=''" class="form-control" id="txtDataNascita2" placeholder="{{dati.dataNascita}}" ng-model="dati.dataNascita" />
              </div>
              <div class="form-group">
                <label for="txtNome">Città in qui vivo</label>
                <input ng-if="dati.descPersonale ==''" class="form-control" id="txtCittaVive2" placeholder="Città" ng-model="dati.cittaVive" />
                <input ng-if="dati.descPersonale !=''" class="form-control" id="txtCittaVive" placeholder="{{dati.cittaVive}}" ng-model="dati.cittaVive" />
              </div>
              <div class="form-group">
                <label for="txtNome">Mi descrivo</label>
                <input ng-if="dati.descPersonale==''" class="form-control" id="txtDescPersonale2" placeholder="Mi piace..." ng-model="dati.descPersonale" />
                <input ng-if="dati.descPersonale !=''" class="form-control" id="txtDescPersonale" placeholder="{{dati.descPersonale}}" ng-model="dati.descPersonale" />
              </div>
            <button class="btn btn-success" type="submit">Salva</button>
            <button class="btn btn-default" data-dismiss="modal">Close</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>