<div class="container" id="page">
    <div class="row">
        <!--SPAZIO UTENTE-->
        <div class="col-sm-3 ">
            <div class="panel panel-defeault text-left">
                <div class="panel-body">
                    <a  href="#!/userProfile">
                        <img class="img-circle" alt="Profilo" width="150" height="150"
                             ng-src="{{dati.user.img_url}}" alt="{{dati.user.img_alt}}" ng-if="dati.user.img_url.includes('https://firebasestorage.googleapis.com')">
                    </a>
                </div>
            </div>

            <div class="panel-body">
                <p><a href="#">Interests</a></p>
            </div>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
        </div>

        <!--SPAZIO POST-->
        <div class="col-sm-8">

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default text-left">
                        <div class="panel-body">
                            <h3>Ciao <span style="color: green">{{dati.user.name}}</span>!</h3>
                            <h4 style="color:lightgrey;">Ti diamo il benvenuto su <em>greenGO</em></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" id="post">
                <div class="panel-body">
                    <a href="#/home" data-toggle="modal" data-target="#modalPost">Scrivi qualcosa...</a>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-success" href="#/home"
                            data-toggle="modal" data-target="#modalRicetta"ng-click="setTag('ricetta');">Ricetta</button>
                    <button type="button" class="btn btn-success">Tutorial</button>
                </div>
            </div>

            <!-- MODAL POST -->


            <div class="modal fade" id="modalPost" role="dialog">
                <form id="frmAddPost" role="form" ng-submit="addPost()">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                                <div class="form-group">
                                    <button type="button" class="close" data-dismiss="modal" data-target="#modalPost">&times;</button>
                                    <textarea type = "text" class="form-control" nome="descrizione" rows="6" id="desc" placeholder="Scrivi qualcosa..."
                                    ng-model="dati.descrizione"></textarea>
                                </div>
                        <button type="button" class="btn btn-success" href="#/home"
                                data-toggle="modal" data-target="#modalRicetta" ng-click="setTag('ricetta');">Ricetta</button>
                        <button type="button" class="btn btn-success">Tutorial</button>
                            <button type="submit" style="float: right;" class="btn btn-default">Pubblica</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>

            <div class="modal fade" id="modalRicetta" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3>Insersci la tua Ricetta</h3>


                        <form ng-submit="addPost()">
                            <div class="form-group">
                                <label for="title">Titolo:</label>
                                <input type="text" class="form-control" id="title"
                                       ng-model="dati.titolo" />
                                <textarea class="form-control" rows="6" id="comment2" placeholder="Descrizione..."
                                          ng-model="dati.descrizione"></textarea>
                            </div>

                            <!--  <img src="" alt="inserisci immagine">
                              BOTTONE PER CARICAMENTO DI FILE
                            <span>Immagine descrittiva</span>
                            <file-upload on-change="$ctrl.onChange">
                            </file-upload>
                            -->

                            <!-- INSERISCI INGREDIENTI -->
                            <div class="row" style="display: inline">
                                <div class="control-group" id="fields" style="padding-top: 15px;">
                                    <label class="control-label" for="field1">Inserisci Ingredienti:</label>
                                    <div class="controls">
                                            <span role="form" autocomplete="off">
                                                <div class="entry input-group col-xs-3">
                                                    <input class="form-control" style="width: 200px" name="fields[]"
                                                           type="text" placeholder="Aggiungi Ingrediente"
                                                           ng-model="dati.ingrediente"/>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-success btn-add" type="button">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </span>
                                    </div>
                                </div>
                            </div>

                            <label for="procedimento">Procedimento:</label>
                            <textarea class="form-control" rows="7" id="procedimento"
                                      ng-model="dati.procedimento"></textarea>

                            <label for="dif" style="margin-top: 20px">difficoltà: </label>
                            <select class="form-control" id="dif" style="max-width: 140px"
                                    ng-model="dati.difficolta">
                                <option>facile</option>
                                <option>medio</option>
                                <option>difficile</option>
                            </select>

                            <label for="tmp" style="padding-top: 10px; display: block">tempo:</label>
                            <input type="text" class="form-control" id="tmp"  style="max-width: 140px"
                                   placeholder="ore:minuti" ng-model="dati.tempo">

                            <button href="#home" style="float: right; position: relative; bottom: 40px;"
                                    type="submit" class="btn btn-default">Pubblica</button>
                        </form>

                    </div>
                </div>
            </div>
            <!-- fine modal -->

            <!--LISTA POST DATABASE-->
            <div class="row">
                <div class="col-xs-12">
                    <ul class="media-list">
                        <li class="media" ng-repeat="post in dati.posts | orderBy: '-date' :true">
                            <div class="media-left">
                                <!--QUI METTEREI L'IMMAGINE DEL PROFILO-->
                                <img class="img-circle" alt="immagine" width="50" height="50"
                                     ng-src="{{dati.user.img_url}}" alt="{{dati.user.img_alt}}" ng-if="dati.user.img_url.includes('https://firebasestorage.googleapis.com')">
                                <!--<img class="media-object" ng-src="{{post.img_url}}" alt="immagine" width="230" height="135">-->
                            </div>
                            <div class="media-body">
                                <a href="#!/otherUserProfile/{{post.autoreId}}" style="color: black">
                                    <h4 class="media-heading"><strong>{{post.name}} {{post.surname}}</strong></a> ha pubblicato:</h4>


                                <!--QUI METTEREI L'IMMAGINE EFFETTIVA DI RICETTA/TUTORIAL-->
                                <a href="#!/detailsRicetta/{{post.id}}" style="color: darkgreen">
                                <h4 class="media-heading"><strong>{{post.titolo}}</strong></h4>
                                </a>
                                <p>{{post.descrizione}}</p>
                                <!--METTERE IF PER IMMAGINE-->
                                <img class="media-object" ng-src="{{post.img_url}}" width="70%">
                                <br>
                                <p class="data-ora" style="float: right;"> {{post.dataStampa}} {{post.oraStampa}}</p><br><hr/>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


</div>