<div class="container-fluid" id="page" style="margin-left: 10%; margin-right: 10%; width: 80%">
    <!--MAGARI QUI DENTRO METTIAMO QUALCOSA-->
    <div class="row">
        <div class="col-md-8 text-left">
            <div class="panel panel-default text-left">
                <div class="panel-body">
                    <h1 style="color: green;">{{dati.post.titolo}}</h1>
                    <!--BOTTONE SALVA POST-->
                    <button id="saveButton"  ng-click="saveRicetta()"
                            type="submit" class="btn btn-success" ng-if= "dati.notSaved" style="float: right;">Salva</button>
                    <button  ng-if="dati.yetSaved" ng-click="removeSaver(dati.Saving)" type="submit" class="btn btn-default"
                             style="float: right;">Salvata</button>
                        <!--<button id="btnSalva" class="btn btn-success" ng-click="salvaRicetta()" style="float: right;" ng-repeat="saver in dati.savers filter:controlloSavers(saver.id_salvatore)">Salva ricetta</button>-->
                        <!--<button class="btn btn-default" style="float: right;" ng-repeat="saver in dati.savers filter:controlloSavers() ">Salvata</button>-->
                </div>
            </div>
            <div class="panel panel-default text-left">
                <div class="panel-body">
                    <img class="img-responsive" ng-src="{{dati.post.img_url}}" width="640" height="426">
                    <h4 style="color: green;">Descrizione</h4>
                    <p> {{dati.post.descrizione}}</p>
                    <hr>
                        <div class="row">
                            <!--MANCA TEMPO DI COTTURA-->
                            <div class="col-md-4">
                                <span><img src="../images/icona_tempo.png" height="15px"></span>
                                <span style="color: green;">Preparazione: </span>{{dati.post.cottura}}
                            </div>
                            <div class="col-md-4">
                                <span><img src="../images/icona_clessidra.png" height="15px"></span>
                                <span style="color: green;">Cottura: </span>{{dati.post.cottura}}
                            </div>
                            <div class="col-md-4">
                                <span><img src="../images/icona_difficolta.png" height="15px"></span>
                                <span style="color: green;">Difficoltà: </span>{{dati.post.difficolta}}
                            </div>
                        </div>
                    <hr>
                    <h4 style="color: green;">Ingredienti</h4>
                    <div class="panel panel-default" style="background-color: darkseagreen">
                        <!--CAMBIARE COLORE SFONDO e testo-->
                        <!--QUA METTIAMO UN DIV CLASS ROW QUANDO ABBIAMO GLI INGREDIENTI-->
                        <!--PER FARLI VENIRE IN DUE COLONNE-->
                        <div class="row">
                            <div class="col-md-6">
                                <ul style="color: white; list-style: none; padding-top: 10px">
                                    <li>{{dati.post.ingredienti.ingrediente1}}</li>
                                    <li>{{dati.post.ingredienti.ingrediente2}}</li>
                                    <li>{{dati.post.ingredienti.ingrediente3}}</li>
                                    <li>{{dati.post.ingredienti.ingrediente4}}</li>
                                    <li>{{dati.post.ingredienti.ingrediente5}}</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul style="color: white; list-style: none; padding-top: 10px">
                                    <li>{{dati.post.ingredienti.ingrediente6}}</li>
                                    <li>{{dati.post.ingredienti.ingrediente7}}</li>
                                    <li>{{dati.post.ingredienti.ingrediente8}}</li>
                                    <li>{{dati.post.ingredienti.ingrediente9}}</li>
                                    <li>{{dati.post.ingredienti.ingrediente10}}</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <h3 style="color: green;">Preparazione</h3>
                    <p>{{dati.post.procedimento}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 sidenav">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-circle" width="50px" height="50px"
                                 ng-src="{{dati.post.autore_img}}" alt="{{dati.post.autore_img}}" ng-if="dati.post.autore_img.includes('https://firebasestorage.googleapis.com')">
                        </div>
                        <div class="col-md-8">
                            Pubblicata da: <br>

                            <ul class="media-list">
                            <a href="#!/otherUserProfile/{{dati.post.autoreId}}" ng-if="dati.userId != dati.post.autoreId"><span style="color: green">
                                {{dati.post.name}} {{dati.post.surname}}</span></a>
                            <a href="#!/userProfile" ng-if="dati.userId == dati.post.autoreId">
                                {{dati.post.name}} {{dati.post.surname}}</a>
                            </ul>

                            <!--punteggio/titolo raggiunto-->
                        </div>
                    </div>
                    <hr>
                    Altro da {{dati.post.name}}
                    <hr>
                    <b>{{dati.post.titolo}}</b> <br><br>
                    <p style="color: lightgrey;"><em>VARI FILTRI</em></p>
                    <!--mettiamo i filtri a lista-->
                    <br>
                    Voto :
                    <img src="../images/votozero.png" height="20px" ng-if="dati.post.media==null">
                    <img src="../images/votouno.png" height="20px" ng-if="dati.post.media==1">
                    <img src="../images/votodue.png" height="20px" ng-if="dati.post.media==2">
                    <img src="../images/vototre.png" height="20px" ng-if="dati.post.media==3">
                    <img src="../images/votoquattro.png" height="20px" ng-if="dati.post.media==4">
                    <img src="../images/votocinque.png" height="20px" ng-if="dati.post.media==5">
                    <hr>
                    Il tuo voto:
                    <br>
                    <form ng-submit="addVoto()" id="formVota" ng-if="dati.notVoted">
                        <button class="stellaButton" ng-click="valueUno()"type="submit"><img src="../images/empty-star.png" height="20px"></button>
                        <button class="stellaButton" ng-click="valueDue()"type="submit"><img src="../images/empty-star.png" height="20px"></button>
                        <button class="stellaButton" ng-click="valueTre()"type="submit"><img src="../images/empty-star.png" height="20px"></button>
                        <button class="stellaButton" ng-click="valueQuattro()"type="submit"><img src="../images/empty-star.png" height="20px"></button>
                        <button class="stellaButton" ng-click="valueCinque()" type="submit"><img src="../images/empty-star.png" height="20px"></button>
                    </form>
                    <!--<span id="miovoto" hidden>
                        <p>Il tuo voto è stato aggiunto! <span class="glyphicon glyphicon-ok"></span></p>
                    </span>-->
                    </span><p ng-if="dati.yetVoted"> Il tuo voto è stato aggiunto! <span class="glyphicon glyphicon-ok"></span> </p>
                    <hr>
                    commenta:
                    <form id="frmAddCommento" role="form" ng-submit="addCommento()">
                        <textarea type = "text" class="form-control" nome="testo" rows="4" id="desc" placeholder="Scrivi un commento..."
                                  ng-model="dati.commento"></textarea>
                        <button class="btn btn-success" type="submit">Pubblica</button>
                    </form>
                    <hr>
                    <div>
                        <li class="media-list" ng-repeat="commenti in dati.commenti | orderBy: 'date' :true" style="list-style: none">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="media-left">
                                        <img class="img-circle" ng-src="{{commenti.autore_img}}" height="60px" width="60px">
                                    </div>
                                    <div class="media-body">
                                        <p><span style="color: green"><b>{{commenti.name}} {{commenti.surname}}: </b></span> {{commenti.descrizione}}</p>
                                        <p class="data-ora" style="float: right">{{commenti.dataStampa}} {{commenti.oraStampa}}</p>
                                    </div>
                                </div>


                            </div>

                        </li>
                </div>
            </div>
        </div>
    </div>
</div>
