body{
  margin:0;
  font-family: "Verdana";
}

.navbar {
  position: fixed;
  height: 50px;
  margin-bottom: 0;
  background-color: #18562c;
  border: 0;
  font-size: 12px !important;
  letter-spacing: 4px;
  opacity: 0.9;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
}
.navbar li a, .navbar .navbar-brand {
  color: #bdd4c1 !important;
}
.navbar-nav li a:hover {
  background-color: #349454;
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #349454 !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.pulsante{
  position: absolute;
  margin-right: 0;
  margin-left: 0;
  margin-top: 50px;
  height: 70px;
  width: 100%;
  background-color: white;
  border-style: solid;

}
/*.col-md-4 {*/
/*position: relative;*/
/*}*/
.image {
  /*display: block;*/
  height:45px;
  padding: 5px 0;
}

.overlay {
  position: absolute;
  margin-top: 50px;
  height: 70px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /*background-color: #497e52;*/
  /*background-color: #DFF0D8;*/
  background-color: #C7EFB4;
  text-align: center;
}

.col-md-4:hover .overlay {
  opacity: 1;
}

.text {
  font-family: Verdana;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);}

.jumbotron{
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
}

#page {
  padding-top: 130px;
}

#pageTut{
  padding-top: 130px;
}


#post a {
  color: grey;
  text-decoration: none;
}

#post button {

}

#post .panel-body {
  padding-top: 25px;
  padding-bottom: 25px;
}

#post .panel-footer {
  background-color: #dff0d8 ;
}

#post .modal-body {
  padding: 20px;
}





#modalRicetta {
  width: auto;
}


#modalRicetta h3, form {
  padding: 20px;
}

#modalRicetta label, input, textarea {
  margin-bottom: 10px;
}

#modalRicetta img {
  position: static;
  height: 140px;
  width: 140px;
}

.form-group {
  position: relative;
}

#modalRicetta p {
  display: inline;
  position: relative;
  bottom: 53px;
  left: 20px;
}

.data-ora{
  font-size: small;
  color: #bebec5;
}


#profile_post{
  height: 70px;
  width: 70px;
}


/*.panel{*/
  /*border-color: #C7EFB4;*/
/*}*/

.entry:not(:first-of-type)
{
  margin-top: 10px;
}

.glyphicon
{
  font-size: 12px;
}
