body{
  margin:0;
  /* font-family: "Verdana"; */
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

.navbar {
  position: fixed;
  height: 50px;
  margin-bottom: 0;
  background-color: #18562c;
  border: 0;
  font-size: 15px !important;
  letter-spacing: 4px;
  opacity: 0.9;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
}
.navbar li a, .navbar .navbar-brand {
  color: #bdd4c1 !important;
}
.navbar-nav li a:hover {
  background-color: #349454;
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #349454 !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.pulsante{
  position: absolute;
  margin-right: 0;
  margin-left: 0;
  margin-top: 50px;
  height: 70px;
  width: 100%;
  background-color: white;
  border-style: solid;

}
/*.col-md-4 {*/
/*position: relative;*/
/*}*/
.image {
  /*display: block;*/
  height:45px;
  padding: 5px 0;
}

.overlay {
  position: absolute;
  margin-top: 50px;
  height: 70px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /*background-color: #497e52;*/
  /*background-color: #DFF0D8;      #C7EFB4;*/
  background-color: #9ADB61;
  text-align: center;
}

.col-md-4:hover .overlay {
  opacity: 1;
}

.text {
  font-family: Verdana;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);}

.jumbotron{
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
  padding-bottom: 150px;
}

#page {
  padding-top: 130px;
}

#pageTut{
  padding-top: 130px;
}


#post a {
  color: grey;
  text-decoration: none;
}

#post button {

}

#post .panel-body {
  padding-top: 25px;
  padding-bottom: 25px;
  /*min-height: 300px;*/
}

#post .panel-footer {
  background-color: #dff0d8 ;
}

#post .modal-body {
  /*padding: 20px;*/

}


#modalPost h3{
  color: #74A614;
}


#modalRicetta,
#modalTutorial {
  width: auto;
}

#modalRicetta .modal-content,
#modalTutorial .modal-content{

  border-radius: 13px;
}

#modalRicetta .modal-header,
#modalTutorial .modal-header{
  background-color: #9ADB61; /*74A614 9CC633*/
  color: #FEFEFE;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  padding: 10px;
}

#modalRicetta h1, form,
#modalTutorial h1, form{
  padding: 20px;
}

#modalRicetta h3, h4, h5,
#modalTutorial h3, h4, h5 {
  color: #74A614;
}


#modalRicetta label, input, textarea,
#modalTutorial label, input, textarea {
  margin-bottom: 10px;
}

#modalRicetta img,
#modalTutorial img{
  position: static;
  height: 140px;
  width: 140px;
}

.form-group {
  position: relative;
}

#modalTutorial p,
#modalRicetta p{
  display: inline;
  position: relative;
  bottom: 53px;
  left: 20px;
}

.data-ora{
  font-size: small;
  color: #bebec5;
}


#profile_post{
  height: 70px;
  width: 70px;
}


/*.panel{*/
/*border-color: #C7EFB4;*/
/*}*/

.entry:not(:first-of-type)
{
  margin-top: 10px;
}

.glyphicon
{
  font-size: 12px;
}
.coloreTestoVerde{
  color: green;
}
.modal{
  margin-top: 130px;
}


/**   INPUT PER GLI INGREDIENTI**/
.controls{
  padding-bottom: 13px;
}
.stellaButton{
  border: none;
  background-color: white;
  margin: 0;
}

.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 1fr;
}

.checkbox {
  margin:0;
}


/**  POSIZIONAMENTO ELEMENTI PER LA RICERCA  **/

#wordR, #wordT, #wordM {
  max-width: 250px;
  position: absolute;
  left:400px;
}

#cathegoryR, #cathegoryT, #cathegoryM {
  width: 120px;
  position: absolute;
  top: 220px;
  left:400px;
}

#difficultyR, #difficultyT{
  width: 120px;
  position: absolute;
  top: 220px;
  left: 550px;
}

#dietR {
  width: 120px;
  position: absolute;
  top: 220px;
  left: 705px;
}

#searchR, #searchT, #searchM {
  position: absolute;
  left:760px;
}
#listaTutorial .panel-body {
  min-height: 200px;
  background-color: #FEFEFE;

}
#listaRicette .panel-body {
  min-height: 160px;
  background-color: #FEFEFE;
}

#listaRicette .panel-body a,
#listaTutorial .panel-body a {
  color: #74A614;
}

#listaRicette .panel-body p,
#listaTutorial .panel-body p {
  font-size: 15px;
}

#listaRicette .panel-footer,
#listaTutorial .panel-footer{
  background-color: #FEFEFE;
  margin-bottom: 50px;

}
