<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>greenGO</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="app.css"/>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  <!-- Angular -->
  <script src="../lib/angular/angular.min.js"></script>
  <script src="../lib/angular/angular-route.min.js"></script>
  <script src="../lib/angular/angular-resource.min.js"></script>
  <!-- Bootstrap -->
  <script src="../lib/bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>


  <script src="app.js"></script>
  <script src="home/home.js"></script>
  <script src="userProfile/userProfile.js"></script>
  <script src="areaRicette/areaRicette.js"></script>
  <script src="areaTutorial/areaTutorial.js"></script>
  <script src="areaMercato/areaMercato.js"></script>
  <script src="login/login.js"></script>
  <script src="detailsRicetta/detailsRicetta.js"></script>
  <script src="otherUserProfile/otherUserProfile.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="components/post/post.js"></script>
  <script src="components/post/post-service.js"></script>
  <script src="components/post/single-post-service.js"></script>
  <script src="components/file-upload/file-upload.js"></script>
  <script src="components/file-upload/file-upload-directive.js"></script>
  <script src="components/authentication/authentication.js"></script>
  <script src="components/authentication/authentication-service.js"></script>
  <script src="components/users/users.js"></script>
  <script src="components/users/users-service.js"></script>
  <script src="components/users/users-list-service.js"></script>
  <script src="components/users/users-info-service.js"></script>
  <script src="components/users/users-follow-service.js"></script>
  <script src="components/ricetta/ricetta.js"></script>
  <script src="components/ricetta/ricetta-service.js"></script>
  <script src="components/ricetta/single-ricetta-service.js"></script>
  <script src="components/post/insert-post-service.js"></script>

</head>
<!--<body>-->
<body ng-app="myApp" ng-controller="MainCtrl">

<!--BARRA NAVIGAZIONE-Home/Profilo/Carrello/Logout-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#home">
        <img src="../images/logo4.png" height="30px" width="90px">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!/home">Home</a></li>
        <li ng-class="{'active' : dati.currentView === 'userProfile'}" ng-if="isLogged()"><a href="#!/userProfile">Profilo</a></li>
        <li ng-class="{'active' : dati.currentView === 'login'}" ng-if="isLogged()"><a href="#/login" ng-click="logout();">Logout</a></li>
        <li ng-class="{'active' : dati.currentView === 'login'}" ng-if="isNotLogged()">
          <a href="#/login" data-toggle="modal" data-target="#myModal2">Registrati</a>
        </li>
        <li ng-class="{'active' : dati.currentView === 'login'}" ng-if="isNotLogged()">
          <a href="#/login" data-toggle="modal" data-target="#myModal">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--MODAL LOGIN-->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!--MODAL CONTENT-->
    <div class="modal-content">
      <div class="modal-body">

        <button type="button" class="close" data-dismiss="modal" data-target="#myModal">&times;</button>
        <form id="frmLogin" role="form" ng-submit="signIn()">
          <h2>Login</h2>
          <br>
          <div class="form-group">
            <label for="txtEmail">Indirizzo Email</label>
            <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="email" ng-model="user.email" />
          </div>
          <div class="form-group">
            <label for="txtPass">Password</label>
            <input type="password" class="form-control" id="txtPass" placeholder="Password" name="password" ng-model="user.password" />
          </div>
          <button type="submit" class="btn btn-success center-block">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--MODAL REGISTRAZIONE-->
<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog">
    <!--MODAL CONTENT-->
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" data-target="#myModal2">&times;</button>
        <form id="frmRegister" role="form" ng-submit="signUp()">
          <h2>Registrazione</h2>
          <div class="form-group">
            <p>Scegli un'immagine per il tuo profilo: </p>
            <!--LO FAREI ANCHE PER CAMBIARE IMMAGINE PROFILO-->
            <file-upload on-change="$ctrl.onChange"></file-upload>
          </div>
          <div class="form-group">
            <label for="txtName">Nome</label>
            <input type="text" class="form-control" id="txtName" placeholder="Enter name" name="name" ng-model="user.name" />
          </div>
          <div class="form-group">
            <label for="txtSurname">Cognome</label>
            <input type="text" class="form-control" id="txtSurname" placeholder="Enter surname" name="surname" ng-model="user.surname" />
          </div>
          <div class="form-group">
            <label for="txtEmail">Indirizzo Email</label>
            <input type="email" class="form-control" id="txtEmail2" placeholder="Enter email" name="email" ng-model="user.email" />
          </div>
          <div class="form-group">
            <label for="txtPass">Password</label>
            <input type="password" class="form-control" id="txtPass1" placeholder="Password" name="password" ng-model="user.password" />
          </div>
          <div class="form-group">
            <label for="txtPass2">Conferma Password</label>
            <input type="password" class="form-control" id="txtPass2" placeholder="Confirm password" name="password2" ng-model="user.password2" />
          </div>
          <button type="submit" class="btn btn-success center-block">Invia</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--BARRA PULSANTI-Ricette/Tutorial/Mercato SI VEDONO SOLO SE SEI LOGGATO->FUNZIONE ISLOGGED-->
<!--IMPLEMENTARE LE PAGINE-->

<div class="row" style="width: 100%">
  <div class="col-md-4 col-sm-4 col-xs-4">
    <button ng-class="{'active' : dati.currentView === 'areaRicette'}" ng-if="isLogged()" class="pulsante"><img src="../images/icona_ricette.png" class="image"></button>
    <div ng-if="isLogged()" class="overlay">
      <div class="text"><a href="#!/areaRicette" style="text-decoration: none; color: white">Ricette</a></div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <button ng-class="{'active' : dati.currentView === 'areaTutorial'}" ng-if="isLogged()" class="pulsante"><img src="../images/icona_tutorial.png" class="image"></button>
    <div ng-if="isLogged()" class="overlay">
      <div class="text"><a href="#!/areaTutorial" style="text-decoration: none; color: white">Tutorial</a></div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <button ng-class="{'active' : dati.currentView === 'areaMercato'}" ng-if="isLogged()" class="pulsante"><img src="../images/icona_mercato.png" class="image"></button>
    <div ng-if="isLogged()" class="overlay">
      <div class="text"><a href="#!/areaMercato" style="text-decoration: none; color: white">Mercato</a></div>
    </div>
  </div>
</div>


<!--SPAZIO PER CONTENUTI-->
  <div class="container-fluid" ng-view>

  </div>


</body>
</html>
