<div class="container-fluid" id="page" style="margin-left: 5%; margin-right: 5%; width: 90%">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-7 text-left">
            <div class="panel text-left">
                <div class="panel-body">
                    <h1 style="color: green;">{{dati.post.titolo}}</h1>
                    <img src="../images/votozero.png" height="20px" ng-if="dati.post.media==null">
                    <img src="../images/votouno.png" height="20px" ng-if="dati.post.media==1">
                    <img src="../images/votodue.png" height="20px" ng-if="dati.post.media==2">
                    <img src="../images/vototre.png" height="20px" ng-if="dati.post.media==3">
                    <img src="../images/votoquattro.png" height="20px" ng-if="dati.post.media==4">
                    <img src="../images/votocinque.png" height="20px" ng-if="dati.post.media==5">
                    <button id="saveButton"  ng-click="saveTutorial()"
                            type="submit" class="btn btn-success" ng-if= "dati.post.autoreId != dati.userId && dati.notSaved" style="float: right;">Salva</button>
                    <button  ng-if="dati.post.autoreId != dati.userId && dati.yetSaved" ng-click="removeSaver(dati.Saving)" type="submit" class="btn btn-default"
                             style="float: right;">Salvata</button>
                </div>
                <div class="panel-footer" style="background-color: white">
                    <p> {{dati.post.descrizione}}</p>
                </div>
            </div>
            <div class="panel text-left">
                <div class="panel-body" align="center">
                    <img class="img-responsive" ng-src="{{dati.post.img_url}}" width="600" height="400">
                </div>
                <div class="panel-body">
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <span><img src="../images/icona_difficolta.png" height="15px"></span>
                            <span style="color: green;">Difficoltà: </span>{{dati.post.difficolta}}
                        </div>
                    </div>
                    <hr>
                    <h3>Materiale Necessario:</h3>
                    <div class="panel panel-default">

                        <div class="row">
                            <div class="col-md-6">
                                <ul style="list-style: none; padding-top: 10px">
                                    <li>{{dati.post.strumenti.strumento1}}</li>
                                    <li>{{dati.post.strumenti.strumento3}}</li>
                                    <li>{{dati.post.strumenti.strumento5}}</li>
                                    <li>{{dati.post.strumenti.strumento7}}</li>
                                    <li>{{dati.post.strumenti.strumento9}}</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul style="list-style: none; padding-top: 10px">
                                    <li>{{dati.post.strumenti.strumento2}}</li>
                                    <li>{{dati.post.strumenti.strumento4}}</li>
                                    <li>{{dati.post.strumenti.strumento6}}</li>
                                    <li>{{dati.post.strumenti.strumento8}}</li>
                                    <li>{{dati.post.strumenti.strumento10}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h3>Procedimento</h3>
                    <p>{{dati.post.procedimento}}</p>
                </div>
            </div>

        </div>
        <div class="col-md-3 sidenav">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media-list">
                        <li class="media-right">
                            <img class="img-circle" width="50px" height="50px"
                                 ng-src="{{dati.post.autore_img}}" alt="{{dati.post.autore_img}}" ng-if="dati.post.autore_img.includes('https://firebasestorage.googleapis.com')">
                        </li>
                        <li class="media-body" style="padding-left: 10px">
                            Pubblicata da:<br>
                            <a href="#!/otherUserProfile/{{dati.post.autoreId}}" ng-if="dati.userId != dati.post.autoreId"><span style="color: green">
                            {{dati.post.name}} {{dati.post.surname}}</span></a>
                            <a href="#!/userProfile" ng-if="dati.userId == dati.post.autoreId"><span style="color: green">
                            {{dati.post.name}} {{dati.post.surname}}</span></a>

                            <!--punteggio/titolo raggiunto-->
                        </li>
                    </div>
                    <hr>
                    <p>Altro da {{dati.post.name}}:</p>
                    <li  style="list-style: none" ng-repeat="post in dati.posts" ng-if="post.autoreId == dati.post.autoreId && post.tag=='tutorial' ">
                        <a href="#!/detailsTutorial/{{post.id}}" ><p style="color: green; font-size: 15px">{{post.titolo}}</p></a>
                    </li>
                    <hr>
                    <div ng-if="dati.post.autoreId != dati.userId">
                        <p>Vota il tutorial:</p>
                        <form ng-submit="addVoto()" id="formVota" ng-if="dati.notVoted">
                            <button class="stellaButton" ng-click="valueUno()"type="submit"><img src="../images/empty-star.png" height="18px"></button>
                            <button class="stellaButton" ng-click="valueDue()"type="submit"><img src="../images/empty-star.png" height="18px"></button>
                            <button class="stellaButton" ng-click="valueTre()"type="submit"><img src="../images/empty-star.png" height="18px"></button>
                            <button class="stellaButton" ng-click="valueQuattro()"type="submit"><img src="../images/empty-star.png" height="18px"></button>
                            <button class="stellaButton" ng-click="valueCinque()" type="submit"><img src="../images/empty-star.png" height="18px"></button>
                        </form>
                        </span><p ng-if="dati.yetVoted"><em>Il tuo voto è stato aggiunto! </em><span style="color: green" class="glyphicon glyphicon-ok"></span></p>
                        <hr>
                    </div>
                    <p>Aggiungi un commento:</p>
                    <form id="frmAddCommento" role="form" ng-submit="addCommento()">
                        <textarea style="height: 50px" type = "text" class="form-control" nome="testo" rows="4" id="desc" placeholder="Scrivi un commento..."
                                  ng-model="dati.commento"></textarea>
                        <button class="btn btn-success" type="submit" style="float: right;">Pubblica</button>
                    </form><hr>
                    <a style="color: green" class="btn" data-toggle="collapse" data-target="#demo">Visualizza commenti</a><br>
                    <div id="demo" class="collapse"><br>
                        <li class="media-list" ng-repeat="commenti in dati.commenti | orderBy: '-date' :true" style="list-style: none">
                            <div class="panel">
                                <div class="media-left">
                                    <img class="img-circle" ng-src="{{commenti.autore_img}}" height="50px" width="50px">
                                </div>
                                <div class="media-body">
                                    <p><span style="color: green"><b>{{commenti.name}} {{commenti.surname}}: </b></span> <br>{{commenti.descrizione}}</p>
                                    <p class="data-ora" style="float: right">{{commenti.dataStampa}} {{commenti.oraStampa}}</p>

                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>