<div id="page">
    <!--SPAZIO RICERCA-->
    <div class="jumbotron" align="center">
        <span>"Aggiungi ingrediente"</span>
        <button class="btn btn-default">Filtri(dropdown)</button>
        <button class="btn btn-success">Cerca</button>
    </div>
    <!--SPAZIO INGREDIENTI/FILTRI AGGIUNTI-->
    <div class="container">
        <!--CHE POI SARANNO UNA LISTA STI BOTTONI-->
        <button class="btn">Ingrediente1</button>
        <button class="btn">Ingrediente2</button>
        <button class="btn">Filtro1</button>
        <button class="btn btn-danger">Cancella tutto</button>
    </div><br><br>
    <!--SPAZIO RICETTE TROVATE-->
    <div class="container">
        <div class="row">
            <ul class="media-list">
                <li ng-repeat="ricetta in dati.ricettas">

                    <!--<div class="col-sm-4">-->
                        <!--<div class="panel panel-success">-->
                            <!--<div class="panel-heading"><a href="#!/detailsRicetta/{{ricetta.id}}">{{ricetta.nome_ricetta}}</a></div>-->
                            <!--<div class="panel-body"><img ng-src="{{ricetta.img_url}}" style="width:100%" height="200px" alt="Image"></div>-->
                            <!--<div class="panel-footer"><p>{{ricetta.nome_autore}}</p></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->


                <li ng-repeat="post in dati.posts" ng-if=" post.tag === 'ricetta'" >

                    <div class="col-md-4">
                        <div class="panel panel-success">
                            <div class="panel-heading"><a href="#!/detailsRicetta/{{post.id}}">{{post.titolo}}</a></div>
                            <div class="panel-body">
                                <img style="width:100%" height="200px" alt="Image"
                                     ng-src="{{post.img_url}}" alt="{{post.img_alt}}" ng-if="post.img_url.includes('https://firebasestorage.googleapis.com')">
                            </div>
                            <div class="panel-footer"><p><a href="#!/otherUserProfile/{{post.autoreId}}" style="color: green">{{post.name}} {{post.surname}} </a><br>
                                <!--{{post.descrizione}}-->
                            </p></div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>

</div>




