<div id="pageTut">

    <div class="jumbotron">

        <input  id="wordT" type="text" class="form-control" ng-model="tutorialSearch"
                placeholder="Cerca per strumento...">

        <div id="cathegoryT">
            <h5>Categoria</h5>
            <select class="form-control" id="categoriaRic" style="max-width: 150px" ng-model="categoriaSearch">
                <option></option>
                <option>Riutilizzo</option>
                <option>Cucina</option>
                <option>Cura del corpo</option>
            </select>
        </div>

        <div id="difficultyT">
            <h5>Difficoltà</h5>
            <select class="form-control" id="difRic" style="max-width: 150px" ng-model="difficoltaSearch">
                <option>Facile</option>
                <option>Medio</option>
                <option>Difficile</option>
            </select>
        </div>

        <button id="searchT" class="btn btn-success" ng-click="setRicerca()"> Cerca </button>

    </div>
    <!-- <br><br>  -->

    <div class="container">
        <!--CHE POI SARANNO UNA LISTA STI BOTTONI-->
        <button class="btn btn-default" ng-if="ricerca && tutorialSearch !=''" ng-click="deleteIngrediente()">
            <span class="glyphicon glyphicon-remove"></span>  {{tutorialSearch}} </button>
        <button class="btn btn-default" ng-if="ricerca && categoriaSearch != ''" ng-click="deleteCategoria()">
            <span class="glyphicon glyphicon-remove"></span>  {{categoriaSearch}}</button>
        <button class="btn btn-default" ng-if="ricerca && difficoltaSearch != ''" ng-click="deleteDifficolta()">
            <span class="glyphicon glyphicon-remove"></span>  {{difficoltaSearch}}</button>
        <button class="btn btn-danger" ng-click="cancellaTutto()">Cancella tutto</button>
    </div><br><br>

    <div class="container" id="listaTutorial">
        <div class="row">
            <ul class="media-list">
                <li ng-repeat="posts in dati.posts | filter:tutorialSearch| filter:{difficolta:difficoltaSearch, categoria:categoriaSearch} " ng-if="posts.tag === 'tutorial'">

                    <div class="col-md-4">
                            <div class="panel-heading">
                                <img style="width:100%" height="200px" alt="Image"
                                     ng-src="{{posts.img_url}}" alt="{{posts.img_alt}}"
                                     ng-if="posts.img_url.includes('https://firebasestorage.googleapis.com')">
                            </div>

                            <div class="panel-body">
                                <a href="#!/detailsTutorial/{{posts.id}}">{{posts.titolo}}</a>
                                 <p>{{posts.descrizione}}</p>
                            </div>
                            <div class="panel-footer">
                                <p>
                                    <a href="#!/otherUserProfile/{{post.autoreId}}"
                                       style="color: grey; font-size: 16px;font-weight: lighter" ng-if="dati.userId != post.autoreId">
                                        <span style="color: grey; font-weight: lighter">by {{posts.name}} {{post.surname}}</span></a>
                                    <a href="#!/userProfile"style="color:grey; font-size: 18px;font-weight: lighter" ng-if="dati.userId == post.autoreId">
                                        <span>by {{posts.name}} {{posts.surname}}</span></a>
                                    <span style="color: grey; font-size: 16px;font-weight: lighter; float: right">
                                        <img src="../images/votozero.png" height="16px" ng-if="post.media==null">
                                        <img src="../images/votouno.png" height="16px" ng-if="post.media==1">
                                        <img src="../images/votodue.png" height="16px" ng-if="post.media==2">
                                        <img src="../images/vototre.png" height="16px" ng-if="post.media==3">
                                        <img src="../images/votoquattro.png" height="16px" ng-if="post.media==4">
                                        <img src="../images/votocinque.png" height="16px" ng-if="post.media==5">
                                        <!--voto: {{post.media}}-->
                                    </span>
                                    <br>
                                </p>
                            </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
