<div id="page">

    <div class="jumbotron">

        <input  id="wordT" type="text" class="form-control" ng-model="tutorialSearch"
                placeholder="Cerca per strumento...">

        <div id="cathegoryT">
            <h5>Categoria</h5>
            <select class="form-control" id="categoriaRic" style="max-width: 150px" ng-model="categoriaSearch">
                <option></option>
                <option>Riutilizzo</option>
                <option>Cucina</option>
                <option>Cura del corpo</option>
            </select>
        </div>

        <div id="difficultyT">
            <h5>Difficoltà</h5>
            <select class="form-control" id="difRic" style="max-width: 150px" ng-model="difficoltaSearch">
                <option>Facile</option>
                <option>Medio</option>
                <option>Difficile</option>
            </select>
        </div>

        <!--<button id="searchT" class="btn btn-success" ng-click="setRicerca()"> Cerca </button>-->

    </div> <hr>
    <!-- <br><br>  -->

    <div class="container">
        <!--CHE POI SARANNO UNA LISTA STI BOTTONI-->
        <button class="btn btn-default" ng-if="ricerca && tutorialSearch !=''" ng-click="deleteIngrediente()">
            <span class="glyphicon glyphicon-remove"></span>  {{tutorialSearch}} </button>
        <button class="btn btn-default" ng-if="ricerca && categoriaSearch != ''" ng-click="deleteCategoria()">
            <span class="glyphicon glyphicon-remove"></span>  {{categoriaSearch}}</button>
        <button class="btn btn-default" ng-if="ricerca && difficoltaSearch != ''" ng-click="deleteDifficolta()">
            <span class="glyphicon glyphicon-remove"></span>  {{difficoltaSearch}}</button>
        <button class="btn btn-danger" ng-click="cancellaTutto()">Cancella tutto</button>
        <button type="button" class="btn btn-success" href="#!/areaTutorial" style="float: right; margin-right: 30px"
                data-toggle="modal" data-target="#modalTutorial"ng-click="setTag('tutorial');">
            + Aggiungi Tutorial</button>
    </div><br><br>

    <div class="container" id="listaTutorial">
        <div class="row">
            <ul class="media-list">
                <li ng-repeat="posts in dati.posts | filter:tutorialSearch| filter:{difficolta:difficoltaSearch, categoria:categoriaSearch} " ng-if="posts.tag === 'tutorial'">

                    <div class="col-md-4">
                            <div class="panel-heading">
                                <img style="width:100%" height="200px" alt="Image"
                                     ng-src="{{posts.img_url}}" alt="{{posts.img_alt}}"
                                     ng-if="posts.img_url.includes('https://firebasestorage.googleapis.com')">
                            </div>

                            <div class="panel-body">
                                <a href="#!/detailsTutorial/{{posts.id}}">{{posts.titolo}}</a>
                                 <p>{{posts.descrizione}}</p>
                            </div>
                            <div class="panel-footer">
                                <p>
                                    <a href="#!/otherUserProfile/{{post.autoreId}}"
                                       style="color: grey; font-size: 16px;font-weight: lighter" ng-if="dati.userId != post.autoreId">
                                        <span style="color: grey; font-weight: lighter">by {{posts.name}} {{post.surname}}</span></a>
                                    <a href="#!/userProfile"style="color:grey; font-size: 18px;font-weight: lighter" ng-if="dati.userId == post.autoreId">
                                        <span>by {{posts.name}} {{posts.surname}}</span></a>
                                    <span style="color: grey; font-size: 16px;font-weight: lighter; float: right">
                                        <img src="../images/votozero.png" height="16px" ng-if="post.media==null">
                                        <img src="../images/votouno.png" height="16px" ng-if="post.media==1">
                                        <img src="../images/votodue.png" height="16px" ng-if="post.media==2">
                                        <img src="../images/vototre.png" height="16px" ng-if="post.media==3">
                                        <img src="../images/votoquattro.png" height="16px" ng-if="post.media==4">
                                        <img src="../images/votocinque.png" height="16px" ng-if="post.media==5">
                                        <!--voto: {{post.media}}-->
                                    </span>
                                    <br>
                                </p>
                            </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--   MODAL POST TUTORIAL  -->

    <div class="modal fade post" id="modalTutorial" role="dialog">
        <div class="modal-dialog modal-lg" style="width: 750px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>Insersci il tuo Tutorial</h1>
                </div>

                <form ng-submit="addPost()">
                    <div class="form-group">
                        <h3>Titolo:</h3>
                        <input type="text" class="form-control" id="titolo"
                               ng-model="dati.titolo">
                        <textarea class="form-control" rows="6" id="comment2" placeholder="Descrizione..."
                                  ng-model="dati.descrizione"></textarea>
                    </div>


                    <!-- INSERIMENTO STRUMENTI -->
                    <h4>Materiale Necessario:</h4>
                    <div class="wrapper">
                        <div class="controls">
                                <span role="form" autocomplete="off">
                                   <div class="entry input-group col-xs-3">
                                       <input class="form-control" style="width: 200px" name="f1"
                                              type="text" placeholder="Aggiungi Oggetto"
                                              ng-model="dati.strumento1"/>
                                     <span class="input-group-btn">
                                       <button id="button1" class="btn btn-success btn-add" type="button" ng-click="addOgg2()">
                                            <span class="glyphicon glyphicon-plus" style="color: white"></span>
                                       </button>
                                     </span>
                                   </div>
                                </span>
                        </div>
                        <div class="controls" id="ogg2" style="display: none">
                                <span role="form" autocomplete="off">
                                   <div class="entry input-group col-xs-3">
                                       <input class="form-control" style="width: 200px" name="f2"
                                              type="text" placeholder="Aggiungi Oggetto"
                                              ng-model="dati.strumento2"/>
                                     <span class="input-group-btn">
                                       <button id="button2" class="btn btn-success btn-add" type="button" ng-click="addOgg3()">
                                            <span class="glyphicon glyphicon-plus" style="color: white"></span>
                                       </button>
                                     </span>
                                   </div>
                                </span>
                        </div>
                        <div class="controls" id="ogg3" style="display: none">
                                <span role="form" autocomplete="off">
                                   <div class="entry input-group col-xs-3">
                                       <input class="form-control" style="width: 200px" name="f3"
                                              type="text" placeholder="Aggiungi Oggetto"
                                              ng-model="dati.strumento3"/>
                                     <span class="input-group-btn">
                                       <button id="button3" class="btn btn-success btn-add" type="button" ng-click="addOgg4()">
                                            <span class="glyphicon glyphicon-plus" style="color: white"></span>
                                       </button>
                                     </span>
                                   </div>
                                </span>
                        </div>
                        <div class="controls" id="ogg4" style="display: none">
                                <span role="form" autocomplete="off">
                                   <div class="entry input-group col-xs-3">
                                       <input class="form-control" style="width: 200px" name="f4"
                                              type="text" placeholder="Aggiungi Oggetto"
                                              ng-model="dati.strumento4"/>
                                     <span class="input-group-btn">
                                       <button id="button4" class="btn btn-success btn-add" type="button" ng-click="addOgg5()">
                                            <span class="glyphicon glyphicon-plus" style="color: white"></span>
                                       </button>
                                     </span>
                                   </div>
                                </span>
                        </div>
                        <div class="controls" id="ogg5" style="display: none">
                                <span role="form" autocomplete="off">
                                   <div class="entry input-group col-xs-3">
                                       <input class="form-control" style="width: 200px" name="f5"
                                              type="text" placeholder="Aggiungi Oggetto"
                                              ng-model="dati.strumento5"/>
                                     <span class="input-group-btn">
                                       <button id="button5" class="btn btn-success btn-add" type="button" ng-click="addOgg6()">
                                            <span  class="glyphicon glyphicon-plus" style="color: white"></span>
                                       </button>
                                     </span>
                                   </div>
                                </span>
                        </div>
                        <div class="controls" id="ogg6" style="display: none">
                                <span role="form" autocomplete="off">
                                   <div class="entry input-group col-xs-3">
                                       <input class="form-control" style="width: 200px" name="field6"
                                              type="text" placeholder="Aggiungi Ingrediente"
                                              ng-model="dati.oggetto6"/>
                                     <span class="input-group-btn">
                                       <button id="button6"class="btn btn-success btn-add" type="button" ng-click="addOgg7()">
                                            <span class="glyphicon glyphicon-plus" style="color: white"></span>
                                       </button>
                                     </span>
                                   </div>
                                </span>
                        </div>
                        <div class="controls" id="ogg7" style="display: none">
                                <span role="form" autocomplete="off">
                                   <div class="entry input-group col-xs-3">
                                       <input class="form-control" style="width: 200px" name="field7"
                                              type="text" placeholder="Aggiungi Ingrediente"
                                              ng-model="dati.oggetto7"/>
                                     <span class="input-group-btn">
                                       <button id="button7" class="btn btn-success btn-add" type="button" ng-click="addOgg8()">
                                            <span class="glyphicon glyphicon-plus" style="color: white"></span>
                                       </button>
                                     </span>
                                   </div>
                                </span>
                        </div>
                        <div class="controls" id="ogg8" style="display: none">
                                <span role="form" autocomplete="off">
                                   <div class="entry input-group col-xs-3">
                                       <input class="form-control" style="width: 200px" name="field8"
                                              type="text" placeholder="Aggiungi Ingrediente"
                                              ng-model="dati.oggetto8"/>
                                     <span class="input-group-btn">
                                       <button id="button8" class="btn btn-success btn-add" type="button" ng-click="addOgg9()">
                                            <span class="glyphicon glyphicon-plus" style="color: white"></span>
                                       </button>
                                     </span>
                                   </div>
                                </span>
                        </div>
                        <div class="controls" id="ogg9" style="display: none">
                                <span role="form" autocomplete="off">
                                   <div class="entry input-group col-xs-3">
                                       <input class="form-control" style="width: 200px" name="field9"
                                              type="text" placeholder="Aggiungi Ingrediente"
                                              ng-model="dati.oggetto9"/>
                                     <span class="input-group-btn">
                                       <button id="button9" class="btn btn-success btn-add" type="button" ng-click="addOgg10()">
                                            <span class="glyphicon glyphicon-plus" style="color: white"></span>
                                       </button>
                                     </span>
                                   </div>
                                </span>
                        </div>
                    </div>

                    <h4>Procedimento:</h4>
                    <textarea class="form-control" rows="7" id="prcdTut"
                              ng-model="dati.procedimento"></textarea>
                    <div class="wrapper">
                        <div>
                            <h4 style="margin-top: 20px">Categoria: </h4>
                            <select class="form-control" id="catTut" style="max-width: 140px;"
                                    ng-model="dati.categoria">
                                <option>Riutilizzo</option>
                                <option>Cucina</option>
                                <option>Cura del corpo</option>
                            </select>
                        </div>

                        <div>
                            <h4 style="margin-top: 20px">Difficoltà: </h4>
                            <select class="form-control" id="difTut" style="max-width: 140px;"
                                    ng-model="dati.difficolta">
                                <option>Facile</option>
                                <option>Medio</option>
                                <option>Difficile</option>
                            </select>
                        </div>

                        <div>
                            <h4>Immagine descrittiva</h4>
                            <file-upload on-change="$ctrl.onChange">
                            </file-upload>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button href="#!/areaRicette" style="float: right;"
                                type="submit" class="btn btn-default">Pubblica</button>
                    </div>


                </form>
            </div>
        </div>

    </div>



</div>
