<div id="pageTut">

    <div class="jumbotron" align="center">
        <span>Cerca Oggetto</span>
        <button class="btn btn-default">Categorie (dropdown)</button>
        <button class="btn btn-success">Cerca</button>
    </div>

    <div class="container">
        <button class="btn">Oggetto1</button>
        <button class="btn btn-danger">Cancella</button>
    </div>

    <!-- <br><br>  -->

    <div class="container">
        <div class="row">
            <ul class="media-list">
                <li ng-repeat="posts in dati.posts" ng-if="post.tag === 'tutorial'">

                    <div class="col-md-4">
                        <div class="panel panel-success">
                            <div class="panel-heading"><a href="#!/detailsRicetta/{{post.id}}">{{post.titolo}}</a></div>
                            <div class="panel-body">
                                <img style="width:100%" height="200px" alt="Image"
                                     ng-src="{{post.img_url}}" alt="{{post.img_alt}}"
                                     ng-if="post.img_url.includes('https://firebasestorage.googleapis.com')"></div>
                            <div class="panel-footer">
                                <p><a href="#!/otherUserProfile/{{post.autoreId}}" style="color: green">{{post.name}} {{post.surname}} </a><br>
                                <!--{{post.descrizione}}--></p></div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>

</div>